css
/*Archivo: style.css
Proyecto: Sitio web IAS
Descripción: Estilos generales para todas las páginas
*/

/*paleta de colores:
-verde oscuro header: #145c2e
-verde medio navbar: "1e7a3a
-amarrillo/dorado logo: #f5c518
-verde suave fondo: #f0f7f1
-blanco: #ffffff
-texto: #1a5c2e



/*Estilos generales de la pagina*/
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #1a5c2e;
    background-color: #f0f7f1;
    margin: 0;
    padding: 0;
}
/*Estilos para los titulos h1 y h3*/
h1, h3 {
    font-family: Georgia, serif;
    color: #1a5c2e;
    font-weight: bold;
}
/*Estilos para párrafos*/
p {
    line-height: 1.6;
    text-align: justify;
}
/*Estilos para los enlaces*/
a {
    color: #1e7a3a;
    text-decoration: none;
}
/*Estilos para el mouse sobre el enlace*/
a:hover {
    color: #f5c518;
    text-decoration: underline;
}

/*EStilos del encabezado principal*/

header {
    background-color: #1a5c2e;
    color: white;
    padding: 25px 20px;
    width: 100%;
    border-bottom: 4px solid #f5c518;
}
/*Estilos para los titulos dentro del header*/
header h1, header h2 {
    color: white;
    margin: 5px 0;
}
/*Estilo especifico para el subtitulo del header h2*/
header h2 {
    color: #f5c518;
    font-size: 18px;
}
/*Estilos del menú de navegación*/
#menu-principal {
    background-color: #1e7a3a;
    padding: 12px 20px;
    width: 100%;
}
/*Estilos para la lista del menu*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}
/*Estilos para los enlaces del menu*/
nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}
/*EStilo al pasar el mouse sobre los enlaces del menu*/
nav ul li a:hover {
    color: #f5c518;
    text-decoration: underline;
}

/*estilos del contenido principal*/
main {
    padding: 30px 20px;
    width: 100%;
    min-height: 500px;
    background-color: #e8f5e9;
    margin: 0;
}
/*estilo para los titulos h2*/
h2 {
    color: #1a5c2e;
    background-color: #ffffff;
    padding: 10px 15px;
    border-left: 5px solid #f5c518;
    border-radius: 4px;
    font-size: 22px;
}
/*estilos de la tabla*/
table {
    width: 100%;
    border: 1px solid #1e7a3a;
    border-radius: 5px;
    background-color: white;
}
/*EStilos de las casillas de la tabla*/
th, td {
    border: 1px solid #1e7a3a;
    padding: 10px;
    text-align: left;
}
/*Estilos del encabezado de la tabla*/
th {
    background-color: #1a5c2e;
    color: #c9a84c;
    font-weight: bold;
}
/*estilos del aside*/
aside {
    background-color: #e8f5e9;
    border: 2px solid #f5c518;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 20px 0;
}

/*clases personalizadas*/
/*clase para resaltar informacion importante*/
.destacado {
    background-color: #e8f5e9;
    padding: 5px 8px;
    border-radius: 4px;
    color: #1a5c2e;
}
/*clase para items de servicios*/
.servicio-item {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #1a5c2e;
    padding: 10px 15px;
    border-radius: 6px;
    border-left: 4px solid #f5c518;
}

.servicio-item strong {
    color: #1a5c2e;
}

.servicio-item p {
    color: #1a5c2e;
}


/*clase para el boton de enviar*/
.btn-enviar {
    background-color: #1a5c2e;
    color: #f5c518;
    padding: 12px 20px;
    border: 2px solid #f5c518;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}
/*estilo hover del boton*/
.btn-enviar:hover {
    background-color: #f5c518;
    color: #1a5c2e;
}

/*Estilos para inputs del formulario*/
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #1e7a3a;
    border-radius: 4px;
    background-color: white;
}
/*Estilo cuando el campo esta activo*/
input:focus {
    border: 2px solid #f5c518;
    outline: none;
}
/*estilos para select y textare*/
select, textarea {
    width: 100%;
    padding: 1px;
    margin: 8px 0;
    border: 1px solid #1e7a3a;
    border-radius: 4px;
    background-color: white;
}
/*estilo para las etiquetas del formulario*/
label {
    font-weight: bold;
    color: #1a5c2e;
}

/*estilo del pie de pagina*/
footer {
    background-color: #1a5c2e;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0;
    border-top: 4px solid #f5c518;
    width: 100%;
}
/*Párrafos dentro del footer*/
footer p {
    color: #f5c518;
    margin: 0;
}

/*Estilos para las imagenes*/
img {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}

/*id formulario conttacto*/
#formulario-contacto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #1e7a3a;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

/*estilo para listas*/
ul, ol {
    list-style-type: disc;
    padding-left: 20px;
}
/*Grid para el contenedor principal
-display: grid activa el modo grid
-grid-tamplate-rows define 4 filas: header, nav, main flexible, footer
-min-height: 100vh hace que la pagina ocupe toda la pantalla*/

.container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

/*Flexbox para el menu de navegacion
-displa: felx activa el modo flexbox
-justify-conten: space-around distribuye los items con espacio igual alrededor
-list-style: none elimina los puntos de la lista*/

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Grid para la lista de funciones en 2 columnas
-display: grid activa el modo grid
-grid-template-colimns: 1fr 1fr crea 2 columnasdel igual tamaño
-gap: 20px agrega espacio entre los elementos*/

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/*Flexbox para el formulario de contacto
-display: flex activa el modo flexbox
-flex-wrap: wrap permite que los campos se reorganicen automaticamente
-gap: 15px agrea espacio entre los elementos*/

#formulario-contacto {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#formulario-contacto label {
    width: 100%;
}

#formulario-contacto input,
#formulario-contacto select {
    width: 100%;
}

/*Flexbox para el footer
-display: flex para activar el modo flexbox
-flex-decoratioin: column apila el contenido verticalmente
-align-items: center centra todo horizontalmente*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b4332;
    color: white;
    padding: 20px;
    border-top: 4px solid #c9a84c;
    width: 100%;
}

figure {
    text-align: center;
}